<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="DoomRetroConfig" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="GzDoomConfig" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<appSettings>
		<add key="SelectedConfiguration" value="DoomRetroConfig"/>
		<add key="KnownInternalWads" value="doom2.wad;doomu.wad;plutonia.wad;tnt.wad;doom_complete.pk3;doom1.wad"/>
	</appSettings>
	<DoomRetroConfig>
		<!-- Doom Retro> .\doomretro.exe -iwad .\DOOMU.WAD -file .\BGComp.wad -->
		<add key="SearchPattern" value="wad,pk3"/>
		<add key="Executable" value="doomretro.exe"/>
		<add key="IwadParameterFormat" value="-iwad &quot;{0}&quot; "/>
		<add key="ParameterFormat" value="-file &quot;{0}&quot; "/>
	</DoomRetroConfig>
	<GzDoomConfig>
		<add key="SearchPattern" value="wad,pk3"/>
		<add key="Executable" value="gzdoom.exe"/>
		<add key="IwadParameterFormat" value="{0} "/>
		<add key="ParameterFormat" value="{0} "/>
	</GzDoomConfig>
</configuration>
